# cp ./env_example ./.env
# vim .env


# Model endpoint settings

# MAICA core model endpoint
MCORE_ADDR = 'http://172.17.0.1:80/v1'
# MAICA core model api key
MCORE_KEY = 'EMPTY'
# MAICA core model choice, leave empty for first
MCORE_CHOICE = ''
# MFocus model endpoint
MFOCUS_ADDR = 'http://172.17.0.2:80/v1'
# MFocus model api key
MFOCUS_KEY = 'EMPTY'
# MFocus model choice, leave empty for first
MFOCUS_CHOICE = ''
# MVista VL model endpoint
MVISTA_ADDR = ''
# MVista VL model key
MVISTA_KEY = 'EMPTY'
# MVista VL model choice, leave empty for first
MVISTA_CHOICE = ''
# If the endpoints requires wrapping 'function' of tools
ALT_TOOLCALL = '1'

# Data exchanging endpoint settings

# Proxy used to access Internet - Not applied to inner connections
PROXY_ADDR = 'socks5://192.168.1.1:7890'
# MySQL database endpoint / "sqlite"
DB_ADDR = '172.17.0.3'
# MySQL database user / unused for sqlite
DB_USER = 'user'
# MySQL user password / unused for sqlite
DB_PASSWORD = '123456'
# MySQL/SQLite auth database name
AUTH_DB = 'forum_flarum_db'
# MySQL/SQLite maica database name
MAICA_DB = 'maica'
# GaoDe weather API key
WEATHER_KEY = 'thisisanapikey'


# Account level behavior settings

# Allow new connections to kick old ones or not
KICK_STALE_CONNS = '1'
# Tries before triggering Fail2Ban
F2B_COUNT = '20'
# Fail2Ban time
F2B_TIME = '600'


# Miscellaneous behavior settings

# Use full RESTful API for short connections or not
FULL_RESTFUL = '1'
# Rotate MSpire cache every [] hours or not
ROTATE_MSCACHE = '0'
# Print more details on console
PRINT_VERBOSE = '1'


# Announcement settings

# Name of service provider
DEV_IDENTITY = 'Evan & Clifford'
# "serving" / "testing"
DEV_STATUS = 'serving'
# Self / Oldest capable backend version
VERSION_CONTROL = '1.1000;1.1000'
# Max length in encode a session can have
SESSION_MAX_TOKEN = '28672'


# NVWatcher settings

# Name of MAICA core deployment device
MCORE_NODE = 'HGX690-nuclear-edition'
# Username to access nvidia-smi through SSH
MCORE_USER = 'root'
# Password for SSH login
MCORE_PWD = '123456'
# Name of MFocus deployment device
MFOCUS_NODE = 'HGX610-biohazard-edition'
# Username to access nvidia-smi through SSH
MFOCUS_USER = 'root'
# Password for SSH login
MFOCUS_PWD = '123456'
